* {
	/*reset*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Indie Flower', cursive;
}

html {
	scroll-behavior: smooth;
}

.banner {
	height: 50vh; /*viewport height*/ 
	position: relative;
	height: 700px;
	background-image: url(../images/sunset.jpg);
}

.form {
	border:	5px solid black;
	text-align: center;
	width: 70%;
	padding: 40px;
	position: absolute; /*position will base on browser*/
	top: 30%; /*offseting.. good positioning with transform translate*/
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.username {
	margin-left: 40px;
}

.password {
	margin-left: 40px; 
}

.address {
	margin-left: 12px;
}

label > input[class*="tab"] {
	margin-bottom: 10px;
}